.error-alert-container {
    display: flex;
    position: absolute;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    top: 5%;
    width: 340px;
    padding: 5px;
    z-index: 100;
    background-color: #ff5858;
    opacity: 0.8;
    border: 2px solid #940303;
    border-radius: 15px;
    animation: opacityScaleRaise 0.35s ease-in alternate-reverse forwards 1;
}

.error-alert-title {
    display: inline-block;
    color: rgb(127,24,24);
    width: 100%;
    font-weight: bolder;
    font-size: 22px;
    margin-top: 5px;
}

.error-alert-message {
    color: #ffe4e4;
    font-weight: bold;
    margin: 0px;
}

.error-alert-remove-icon {
    display: inline-block;
    color: #510707;
    float: right;
    transition: 100ms;
}

.error-alert-remove-icon:hover {
    color: #ffffff;

}

.error-alert-remove-icon:active {
    scale: 0.9;
    color: #000000;
}